@model NEE.Web.Models.LoginAMKAViewModel
@{
    ViewBag.Title = "Το TaxisNet σας πιστοποίησε, εισάγετε τον ΑΜΚΑ σας για είσοδο";
}

<h2 class="page-header">@ViewBag.Title</h2>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <h3 class="text-center">ΣΥΝΑΙΝΕΣΗ ΓΙΑ ΤΟ Επίδομα Κοινωνικής Αλληλεγγύης Ανασφάλιστων Υπερηλίκων σε μέλη της ελληνικής μειονότητας της Αλβανίας</h3>
        <hr />
        <p style="font-size:13px;">Έχοντας υπόψη:</p>
        <ol style="font-size:13px;">
            <li>Τις διατάξεις του ν.4520/2018 (ΦΕΚ 30Α’) & του άρθρου 93 του ν. 4387/2016 (ΦΕΚ Α' 85).</li>
            <li>Τις διατάξεις της Κοινής Υπουργικής Απόφασης αριθ. Φ10034/24237/655 (ΦΕΚ Β΄2401) Καθορισμός δικαιολογητικών και λοιπών αναγκαίων λεπτομερειών για την καταβολή του επιδόματος Κοινωνικής Αλληλεγγύης Ανασφαλίστων Υπερηλίκων.</li>
            <li>Τις διατάξεις της ΚΥΑ υπ’ Αριθμ. 70982 (ΦΕΚ Β 4089) Χορήγηση του Επιδόματος Κοινωνικής Αλληλεγγύης Ανασφαλίστων Υπερηλίκων σε μέλη της ελληνικής μειονότητας της Αλβανίας.</li>
        </ol>
        <p class="text-center"><strong>Με την πληκτρολόγηση του ΑΜΚΑ μου παρακάτω και το πάτημα του πλήκτρου [Είσοδος]</strong></p>
        <div class="idika-field-label control-label">
            <ul style="font-size:13px;">
                <li>Συναινώ στο σύνολο των ηλεκτρονικών διασταυρώσεων και λοιπών ελέγχων που θα πραγματοποιηθούν για την επιβεβαίωση των στοιχείων που δηλώνω στην αίτηση.</li>
                <li>Συναινώ στη διενέργεια κοινωνικής έρευνας από τους αρμόδιους υπαλλήλους των Δήμων ή των Κέντρων Κοινότητας.</li>
                <li>Συναινώ στη χρησιμοποίηση των στοιχείων της αίτησης, αποκλειστικά και μόνο, για τους σκοπούς της αξιολόγησης του προγράμματος.</li>
                <li>Θα ενημερώνω, την αρμόδια υπηρεσία του Δήμου ή του Κέντρου Κοινότητας διαμονής μου, για οποιαδήποτε μεταβολή των στοιχείων επικοινωνίας, της διεύθυνσης κατοικίας ή του αριθμού τραπεζικού λογαριασμού (ΙΒΑΝ) έως την τελευταία εργάσιμη ημέρα του μήνα κατά τον οποίο πραγματοποιήθηκε η μεταβολή.</li>
                <li>Ο αριθμός ΙΒΑΝ που δηλώνω στην αίτηση αντιστοιχεί σε τραπεζικό λογαριασμό που τηρώ σε πιστωτικό ίδρυμα που λειτουργεί στην Ελλάδα και στον οποίο είμαι κύριος/α δικαιούχος ή συνδικαιούχος.</li>
            </ul>
        </div>
        <h3 class="text-center">ΕΠΙΠΛΕΟΝ ΒΕΒΑΙΩΝΩ ΥΠΕΥΘΥΝΑ ΟΤΙ:</h3>
         <div class="idika-field-label control-label">
            <ul style="font-size:13px;">
                <li>Η οριστική υποβολή της αίτησής μου υπέχει θέση υπεύθυνης δήλωσής μου σύμφωνα με τις διατάξεις του ν. 1599/1986 (ΦΕΚ Α΄75) ως προς την ορθότητα των στοιχείων και την πλήρωση των προϋποθέσεων χορήγησης του επιδόματος, όπως αυτές προβλέπονται από το οικείο νομοθετικό πλαίσιο.</li>
            </ul>
         </div>
    <div class="alert alert-danger" role="alert">«Όποιος εν γνώσει του δηλώνει ψευδή γεγονότα ή αρνείται ή αποκρύπτει τα αληθινά με έγγραφη υπεύθυνη δήλωση του άρθρου 8 τιμωρείται με φυλάκιση τουλάχιστον τριών μηνών. Εάν ο υπαίτιος αυτών των πράξεων σκόπευε να προσπορίσει στον εαυτόν του ή σε άλλον περιουσιακό όφελος βλάπτοντας τρίτον ή σκόπευε να βλάψει άλλον, τιμωρείται με κάθειρξη μέχρι 10 ετών.»</div>
    
    if (ViewContext.ViewData.ModelState.Where(x => x.Key == "").Any())
    {
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    }
    <fieldset>
        @Html.IdikaHtml().FieldFor(m => m.AFM).FormGroup("col-lg-3 col-md-3 col-sm-6 col-xs-6").ReadOnly()
    </fieldset>
    <fieldset>
        @Html.IdikaHtml().FieldFor(m => m.AMKA).FormGroup("col-lg-3 col-md-3 col-sm-6 col-xs-6")
    </fieldset>


    <div class="form-group">
        <div class="col-md-12">
            <button type="submit" name="command" value="Είσοδος" class="btn btn-primary"><i class="glyphicon glyphicon-triangle-right"></i> Είσοδος</button>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


