@model NEE.Web.Models.Core.RemarkViewModel

@if ((Model.ReleaseSelection == null) && ((Model.Severity == (int)NEE.Core.Contracts.NEERemarkSeverity.Low)))
{
    <span class="label label-info">Αιτία ελέγχου</span>
}
@if (Model.ReleaseSelection != null)
{
    if ((NEE.Core.Contracts.NEERemarkSeverity)Model.Severity == NEE.Core.Contracts.NEERemarkSeverity.Low)
    {
        if (Model.ReleaseSelection.Value == NEE.Core.Contracts.Enumerations.RemarkSelection.Reject)
        {
            var releasedText = $" Η ΜΗ Αποδοχή έγινε από τον χρήστη \"{Model.ReleasedBy}\" στις {Model.ReleasedAt} ";
            <span class="label label-danger">ΜΗ Αποδοχή δηλούμενου στοιχείου</span>
            <span title="@releasedText">  <i class="fa fa-info-circle"></i> </span>
        }
        if (Model.ReleaseSelection.Value == NEE.Core.Contracts.Enumerations.RemarkSelection.Approve)
        {
            var releasedText = $" Η Αποδοχή έγινε από τον χρήστη \"{Model.ReleasedBy}\" στις {Model.ReleasedAt} ";
            <span class="label label-success">Αποδοχή δηλούμενου στοιχείου</span>
            <span title="@releasedText">  <i class="fa fa-user"></i> </span>
        }
        if (Model.ReleaseSelection.Value == NEE.Core.Contracts.Enumerations.RemarkSelection.Approve2)
        {
            var releasedText = $" Η Ειδική Αποδοχή έγινε από τον χρήστη \"{Model.ReleasedBy}\" στις {Model.ReleasedAt} ";
            <span class="label label-success">Ειδική Αποδοχή δηλούμενου στοιχείου</span>
            <span title="@releasedText">  <i class="fa fa-user"></i> </span>
        }
    }
}
@if (Model.Severity == (int)NEE.Core.Contracts.NEERemarkSeverity.LowMedium)
{
    var releasedText = $" Αιτιολογία απόρριψης: {Model.Message}";
    <span class="label label-success">Αιτία Επανελέγχου</span>
    <span title="@releasedText">  <i class="fa fa-info-circle" style="vertical-align: sub; font-size: large;"></i> </span>
}
@if ((NEE.Core.Contracts.NEERemarkSeverity)Model.Severity == NEE.Core.Contracts.NEERemarkSeverity.Medium)
{
    <span class="label label-warning">Απαιτείται</span>
}
@if ((NEE.Core.Contracts.NEERemarkSeverity)Model.Severity == NEE.Core.Contracts.NEERemarkSeverity.MediumHigh)
{
    var releasedText = $" Αιτιολογία απόρριψης: {Model.Message}";
    <span class="label label-noapprove">Αιτία μη έγκρισης</span>
    <span title="@releasedText">  <i class="fa fa-info-circle" style="vertical-align: sub; font-size: large;"></i> </span>

}
@if ((NEE.Core.Contracts.NEERemarkSeverity)Model.Severity == NEE.Core.Contracts.NEERemarkSeverity.High)
{
    <span class="label label-noapprove">Αιτία μη έγκρισης</span>

}

